@charset "utf-8";

/*
	面包屑样式一
	只有面包屑的状态
	-------------------- HTML --------------------
	<div class="bread-crumbs-box">
		<%- include('../../../parts/breadCrumbs', {data: ['数据订阅','数据开放门户','应用商店']}) %>
	</div>
	------------------- END HTML -----------------
*/
.bread-crumbs-box {
	margin: 0 15px 0 15px;
	padding: 17px 0 15px;
	border-bottom: 1px solid #ddd;
}