/*
云订阅详情样式
*/
.cloud-order,.topic-detail,.data-source,.pooled-library{
    cursor: pointer;
}
.cloud-order .little-title {
    font-size: 14px;
    color: #333;
    line-height: 43px;
}
.cloud-left{
    float: left;
    width: 430px;
    margin-left: 14px;
}
.cloud-right{
    float: left;
    width: 327px;
    height: 100%;
}
.amount{
    margin-bottom: 15px;
}
.amount dl{
    float: left;
}
.amount dl:last-child{
    margin-left: 15px;
}
.amount dl:last-child dt{
    background-color: #16c558;
    background-position: 0 -60px;
}
.amount dl:last-child i{
    color: #16c558;
}
.amount dt{
    width: 60px;
    height: 60px;
    float: left;
    background:url("../../img/os/cloud.png") no-repeat 0 0 #f1a622;
    border-radius: 4px;
    border:1px solid #eaedf1;
    margin-right: 6px;
}
.amount dd{
    float: left;
    font-size: 12px;
    color: #333;
    height: 60px;
    line-height: 60px;
}
.amount .data{
    display: inline-block;
    vertical-align: middle;
}
.amount .data span{
    display: block;
    line-height: 14px;
}
.amount .data i{
    color: #f1a622;
    font-style: normal;
    letter-spacing: 2px;
}
/*右侧*/
.table-wrap th{
    background: #03adf5;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.table-wrap td{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.table-wrap{
    width: 327px;
    height: 420px;
    font-size: 12px;
    border:1px solid #eaedf1;
}
.table-header-wrap{
    width: 100%;
    background: #03adf5;
}
.table-header-wrap table{
    width: 317px;
}
.table-body-wrap{
    height: 390px;
    overflow: scroll;
    overflow-x: hidden;
    background: #fff;
}
.table-body-wrap table{
    width: 310px;
}
/*滚动条垂直方向的宽度*/
.table-body-wrap::-webkit-scrollbar
{
    width: 8px;
}
/* 垂直滚动条的滑动块 */
.table-body-wrap::-webkit-scrollbar-thumb:vertical {
    border-radius: 4px;
    background-color:#e3e3e3;
}


/*
专题库详情样式
*/
.table-list table{
    width: 100%;
    font-size: 12px;
}
.table-list th{
    background: #03adf5;
    width: 33.3%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.table-list th span{
    display: block;
    border-right: 1px solid #eaedf1;
}
.table-list .wd1{
    width: 30%;
}
.table-list .wd2{
    width: 70%;
}
.table-list td{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.special-topic td:last-child{
    text-align: left;
}
.table-list .master{
    height: 120px;
    overflow: auto;
}
.table-list{
    height: 420px;
    overflow: hidden;
    border:1px solid #eaedf1;
}
.table-list td .percentage{
    display: inline-block;
    width: 85%;
    height: 10px;
    background: #03adf5;
    text-align: left;
}
.table-list td .wid1{
    width: 50%;
}
/*
数据源详情样式
*/
.tabs-data-source td{
    text-align: center;
    color: #666;
}
.tabs-data-source td span{
    text-align: center;
    width: 50%;
}
.tabs-data-source td span:first-child{
    float: left;
}
.tabs-data-source td span:last-child{
    float: right;
    text-align: right;
}
.data-source-wrap .cloud-left{
    width: 501px;
}
.data-source-wrap .cloud-right{
    width: 256px;
}
.echart-source{
    float: left;
    width: 40%;
}
.echart-source-des{
    float: left;
    width: 58%;
    font-size: 12px;
}
.echart-source-des h4{
    font-weight: normal;
}
.echart-source-des p{
    margin-bottom: 10px;
}
.tabs-source li{
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #f5f5f5;
    font-size: 12px;
    color: #666;
    float: left;
}
.tabs-source .hover{
    background: #03adf5;
    color: #fff;
}