.collect-task-control{
    height: 298px;
}
.collect-task-control dl{
    display: block;
    float: left;
    height: 160px;
    text-align: center;
}
.controlBox{
    margin:24px 0 0 24px;
}
.collect-task-control dt{
    display: block;
    width: 80px;
    height: 80px;
    background: #02a5ea;
    border-radius: 50%;
    text-align: center;
    margin:22px auto 0;
}
.collect-task-control dt .icons{
    background: url("../../img/os/icon.png") no-repeat;
    margin:0 auto 2px;
    height: 51px;
    width: 36px;
}
.collect-task-control dt span{ font-size: 12px;
    color: #fff;
    display: block;
}
.collect-task-control dt.cursor-path{
    background: none;
    width: 100%;
}
.collect-task-control dt.cursor-path span{
    color: #666;
    margin-top:40px;
    border-bottom: 8px solid #b6b6b6;
    line-height: 22px;
    position: relative;
}
.collect-task-control dt.cursor-path span:after{
    content: '';
    background:url("../../img/os/san.png") no-repeat;
    width: 22px;
    height: 17px;
    position: absolute;
    right: -10px;
    top:17px;
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
.collect-task-control dt.cursor-path2{
    background: none;
    position: relative;
    width: 100%;
    padding:0 0 0 12px;
    border-radius: 0;
}
.collect-task-control dt.cursor-path2 span{
    color: #666;
    border-bottom: 8px solid #b6b6b6;
    border-left: 8px solid #b6b6b6;
    height: 66px;
    line-height: 108px;
}
.collect-task-control dt.cursor-path2:after{
    content: '';
    background:url("../../img/os/san.png") no-repeat;
    width: 22px;
    height: 17px;
    position: absolute;
    left: 5px;
    top:-7px;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}
.collect-task-control dt.cursor-path2 img{
    position: absolute;
    left:-13px;
    top: 29px;
    /*transform:rotate(-90deg);*/
    /*-webkit-transform:rotate(-90deg);*/
    /*-o-transform:rotate(-90deg);*/
    /*-ms-transform:rotate(-90deg);*/
    /*-moz-transform:rotate(-90deg);*/
}
.collect-task-control dt.cursor-path3{
    border-radius: 0;
    background: none;
    width: 100%;
    position: relative;
}
.collect-task-control dt.cursor-path3 span{
    color: #666;
    border-bottom: 8px solid #b6b6b6;
    border-right: 8px solid #b6b6b6;
    height: 66px;
    line-height: 108px;
}
.collect-task-control dt.cursor-path3 span:after{
    content: '';
    display: block;background: url("../../img/os/san.png") no-repeat;
    width: 22px;
    height: 17px;
    position: absolute;
    left: -10px;
    bottom:1px;
}

.collect-task-control dt .icon1{
    background-position: 0 15px;
}
.collect-task-control dt .icon2{
    background-position: -36px 15px;
}
.collect-task-control dt .icon3{
    background-position: -72px 15px;
}
.collect-task-control dt .icon4{
    background-position: -108px 15px;
}
.collect-task-control dt .icon5{
    background-position: -144px 15px;
    width: 42px;
}
.collect-task-control dt .icon6{
    background-position: -186px 15px;
}
.collect-task-control dd{
    margin-top:10px;
}
.red-num{
    color: #ff5800;
}
.clearfix:after {
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
    font-size:0;
    line-height:0;
    content:'';
}
.data-blackboard-box2{
    width: 100%;
}
.wd1{ width: 10%;}
.wd2{ width: 12.5%;}
.wd3{ width: 17.5%;}
.mrl5{margin-left: 5%;}
.mrt30{ margin-top:30px;}
.pr{position: relative;}
.fl{float: left;}
.fr{float: right;}
.none{display: none;}
.collect-task-control dl.blank1{ width: 100%;height: 1px;}
/******************/
.collect-task-control dt.cursor-path-col{
    border-radius: 0;
    background: none;
    height: 100%;
    margin-top:0;
    position: relative;
    border-right: 8px solid #b6b6b6;
    width: 100%;
    box-sizing: border-box;
}
.collect-task-control dt.cursor-path-col span{
    transform:rotate(90deg);
    color: #666;
    line-height: 35px;
    position: absolute;
    right: -13px;
    top:50%;
}

.collect-task-control dt.cursor-path-col:after{
    content: '';
    display: block;background: url("../../img/os/san.png") no-repeat;
    width: 22px;
    height: 17px;
    position: absolute;
    right: -16px;
    bottom:-7px;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}

.collect-task-control dt.cursor-path-col2:after{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    top:-7px;
    right: -15px;
}
.wd-one{
    width: 5%;
    margin-right: 5%;
}

/********斜对角线部分*******/

dl.slant{
    width: 7.5%;
    position: absolute;
    border-right: 8px solid #b6b6b6;
    transform-origin:right center ;
}
dl.slant1{left:10%;top:160px;transform:rotate(-45deg); }
dl.slant2{ top:480px;left: 10%;transform:rotate(-25deg);}
dl.slant3{ top:160px;left: 32.5%;transform:rotate(45deg);}
dl.slant4{ top:480px;left: 32.5%;transform:rotate(25deg);}
dl.slant5{ top:91px;left: 10%;height: 214px;transform:rotate(-45deg);}
.slant dt.cursor-path-slant{
    border-radius: 0;
    background: none;
    width: 100%;
    position: relative;
}
.slant dt.cursor-path-slant span{
    right: -39px;
    color: #666;
    transform:rotate(90deg);
    position: absolute;
    top: 102px;
    right: -7px;
}
.slant:after{
    content: '';
    display: block;background: url("../../img/os/san.png") no-repeat;
    width: 22px;
    height: 17px;
    position: absolute;
    right: -14px;
    top:-6px;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}
.slant.slant2:after,.slant.slant4:after,.slant.slant5:after{
    top:150px;
    right: -15px;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}
.slant.slant5:after{
    top: 203px;
}
/********斜对角线部分*******/


.collect-task-control dt.cursor-path4{
    border-radius: 0;
    background: none;
    width: 100%;
    position: relative;
    margin-top:58px;
}
.collect-task-control dt.cursor-path4 span{
    color: #666;
    border-top: 8px solid #b6b6b6;
    border-right: 8px solid #b6b6b6;
    height: 112px;
    line-height: 108px;
}
.collect-task-control dt.cursor-path4 span:after{
    content: '';
    display: block;background: url("../../img/os/san.png") no-repeat;
    width: 22px;
    height: 17px;
    position: absolute;
    right: -8px;
    bottom:-47px;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}

/*********首页左侧小图标*********/



