.workbench-nav {
	position: relative;
	top: 150px;
	text-align: center;
}
.workbench-nav li {
	width: 127px;
	display: inline-block;
	margin: 0 32px 30px;
	font-size: 14px;
	color: #492ea9;
	text-align: center;
}
.workbench-nav li a:link,
.workbench-nav li a:visited { 
	color: #492ea9; 
	text-decoration: none; 
}
.workbench-nav li i {
	display: block;
	height: 116px;
	margin: 0 auto 20px;
	background: url(../img/os/workbench.png) no-repeat;
}
.workbench-nav .basic-config i {
	width: 117px;
	background-position: 0 0;
}
.workbench-nav .data-processing i {
	width: 124px;
	background-position: -117px 0;
}
.workbench-nav .standardization i {
	width: 117px;
	background-position: -241px 0;
}
.workbench-nav .special-subscription i {
	width: 127px;
	background-position: -358px 0;
}
@media screen and (min-width: 580px) and (max-width: 970px) {
	.workbench-nav {
		width: 400px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 579px) {
	.workbench-nav {
		top: 0;
	}
}



.mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: 0.4;
	filter: Alpha(opacity=40);
	z-index: 1001;
}
.data-processing-box {
		position: fixed;
		width: 810px;
		height: 500px;
		top: 50%;
		left: 50%;
		margin: -250px 0 0 -405px;
		background: #fff;
		z-index: 3000;
}
.data-processing-box .box-content {
		width: 810px;
		height: 500px;
		z-index: 9999;
}
.data-processing-box .box-header{
		width: 100%;
		height: 30px;
		background-color: #353e59;
}
.data-processing-box .box-header span {
		line-height: 30px;
		color: #fff;
		padding-left: 10px;
}
.data-processing-box .close {
		float: right;
		padding-right: 10px;
		font-size: 21px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-shadow: 0 1px 0 #fff;
		filter: alpha(opacity=60);
		opacity: .6;
		cursor: pointer;
}
.data-processing-box .close:hover {
		filter: alpha(opacity=80);
		opacity: .8;
}

.data-search-container {
	 display: none; 
}
.data-processing-search {
	width: 548px;
	height: 44px;
	margin: 198px auto 0;
	border: 1px solid #03adf5;
	box-shadow: 2px 2px 5px #adadad;
}
.data-processing-search .search-box {
	width: 100%;
	height: 100%;
}
.data-processing-search .search-box .data-val {
	width: 428px;
	height: 100%;
	border: 0;
	padding-left: 18px;
	font-size: 16px;
	color: #333;
	outline: none;
	box-shadow: none;
}
.data-processing-search .search-box .data-val:focus {
	outline: none;
}

.data-processing-search .search-box .add-data-btn {
	float: right;
	width: 120px;
	height: 100%;
	border: none;
	background: #03adf5;
	font-size: 16px;
	color: #fff;
	text-align: center;
	outline:none;
	cursor: pointer;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.data-processing-search .data-search-list {
	position: relative;
	top: 0px;
	width: 426px;
	max-height: 140px;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 4px 4px 5px #d2d2d2;
	overflow: auto;
}
.data-processing-search .data-search-list li {
	height: 28px;
	line-height: 28px;
	padding-left: 12px;
	font-size: 16px;
	color: #333;
}
.data-processing-search .data-search-list li:hover {
	background-color: #f0f0f0;
}

.workbench-setting-box {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #fff;
}

.workbench-set-header {
	height: 44px;
	padding: 0 10px;
	background: #edeeee;
	border-bottom: 1px solid #d7d7d7;
	box-sizing: border-box;
}
.workbench-set-header h1 {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	color: #333;
	line-height: 44px;
}
.workbench-set-header h1 span {
	color: #666;
	margin-left: 5px;
}
.workbench-set-header button {
	float: right;
	margin-top: 8px;
}
.workbench-set-body {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
}

.workbench-set-aside {
	width: 190px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #eaedf1;
	color: #333;
	font-size: 12px;
	line-height: 30px;
}
.workbench-nav-header {
	display: block;
	padding: 0 10px;
	color: #333;
	cursor: pointer;
}
ul ul .workbench-nav-header {
	padding: 0 10px 0 20px;
}
.workbench-nav-header.error {
	color: #ff2e11;
}
.workbench-nav-header.disable {
	color: #999;
	pointer-events: none;
}
.workbench-nav-header:hover {
	background: #f4f6f8;
}
.workbench-nav-header.hold {
	background: #fff;
}

.workbench-set-inner {
	height: 100%;
	margin-left: 190px;
	padding: 0 10px;
	overflow: auto;
	box-sizing: border-box;
}
.inner-header-box {
	margin: 0 0 15px;
	border-bottom: 1px solid #ccc;
}
.inner-header-box span {
	position: relative;
	top: 10px;
	left: 10px;
	padding: 0 5px;
	background: #fff;
}
.inner-btn-box {
	padding: 15px 0;
	text-align: right;
}

.workbench-clear-btn {
	float: right;
	line-height: 18px;
	border: 1px solid #ff2e11;
	border-radius: 10px;
	font-size: 12px;
	color: #ff2e11;
	background: #fff;
	padding: 0px 8px;
	position: relative;
	top: 9px;
	right: 10px;
	cursor: pointer;
	outline: none;
}




